<div class="container">
    <mat-toolbar class="app-navbar" color="primary">
      <span>LearnCode</span>
      <span class="example-spacer"></span>
  
      <button mat-button [matMenuTriggerFor]="menu">Turorials <mat-icon>menu_book</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['javaScript']" mat-menu-item>JavaScript</button>
        <button mat-menu-item><a href="/some">C#</a></button>
        <button mat-menu-item><a href="#">Java</a></button>
        <button mat-menu-item><a href="#">Ruby</a></button>
      </mat-menu>
  
      <button mat-flat-button color="accent">
        Login <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>