<div class="container">
    <mat-toolbar class="app-navbar" color="primary">
      <span>LearnCode</span>
      <span class="example-spacer"></span>
  
      <button mat-button [matMenuTriggerFor]="menu">Turorials <mat-icon>menu_book</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['JavaScript']" mat-menu-item>JavaScript</button>
        <button mat-menu-item>C#</button>
        <button mat-menu-item>Java</button>
        <button mat-menu-item>Ruby</button>
      </mat-menu>
  
      <button mat-flat-button color="accent">
        Login <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>